/*   background color   */
.bg-blue1 {
	background-color: #72bcdf;
}
.bg-blue2 {
	background-color: #507abd;
}
.bg-blue3 {
	background-color: #3e5ba9;
}
.bg-red1 {
	background-color: #fd715f;
}
.bg-red2 {
	background-color: #e25e5b;
}
.bg-red3 {
	background-color: #df4430;
}
.bg-red4 {
	background-color: #e5231b;
}
.bg-red5 {
	background-color: #993333;
}
.bg-grey1 {
	background-color: #f2f2f2;
}
.bg-grey2 {
	background-color: #eeeeee;
}
.bg-grey3 {
	background-color: #686868;
}
.bg-black1 {
	background-color: #3a3e4a;
}
.bg-black2 {
	background-color: #252934;
}
.bg-black3 {
	background-color: #262733;
}
.bg-white {
	background-color: #ffffff;
}
.bg-dax {
	background-color: #C01D37;
}
.bg-digital {
	background-color: #ccffcc;
}

/*   text color   */
.txt-blue1 {
	color: #72bcdf;
}
.txt-blue2 {
	color: #507abd;
}
.txt-blue3 {
	color: #3e5ba9;
}
.txt-red1 {
	color: #fd715f!important;
}
.txt-red2 {
	color: #e25e5b!important;
}
.txt-red3 {
	color: #df4430;
}
.txt-red4 {
	color: #e5231b;
}
.txt-red5 {
	color: #993333;
}
.txt-grey1 {
	color: #c1c5c8;
}
.txt-grey2 {
	color: #8a8c8f!important;
}
.txt-grey3 {
	color: #32383d;
}
.txt-black1 {
	color: #3a3e4a;
}
.txt-black2 {
	color: #252934;
}
.txt-black3 {
	color: #262733;
}
.txt-white {
	color: #ffffff;	
}
/*   button color   */
.btn {
    font-weight: bold;
	border-radius:1px!important;
}
.btn-alpha_red {
	color: #fff;
	background-color: #c51633;
	border-color: #c51633;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_red:hover,
.btn-alpha_red:focus,
.btn-alpha_red.focus,
.btn-alpha_red:active,
.btn-alpha_red.active,
.open > .dropdown-toggle.btn-alpha_red {
  color: #c51633;
  background-color: #fff;
  border-color: #c51633;
}
.btn-alpha_red:active,
.btn-alpha_red.active,
.open > .dropdown-toggle.btn-alpha_red {
  background-image: none;
}
.btn-alpha_redline {
	color: #c51633;
	background-color: #fff;
	border-color: #c51633;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_redline:hover,
.btn-alpha_redline:focus,
.btn-alpha_redline.focus,
.btn-alpha_redline:active,
.btn-alpha_redline.active,
.open > .dropdown-toggle.btn-alpha_redline {
  color: #fff;
  background-color: #c51633;
  border-color: #c51633;
}
.btn-alpha_redline:active,
.btn-alpha_redline.active,
.open > .dropdown-toggle.btn-alpha_redline {
  background-image: none;
}
.btn-alpha_white {
	color: #00285e;
	background-color: #ffffff;
	border-color: #ffffff;
	border-radius:0!important;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_white:hover,
.btn-alpha_white:focus,
.btn-alpha_white.focus,
.btn-alpha_white:active,
.btn-alpha_white.active,
.open > .dropdown-toggle.btn-alpha_white {
  color: #ffffff;
  background-color: #00285e;
  border-color: #00285e;
}
.btn-alpha_white:active,
.btn-alpha_white.active,
.open > .dropdown-toggle.btn-alpha_white {
  background-image: none;
}
.btn-alpha_whiteline {
	color: #00285e;
	background-color: #ffffff;
	border-color: #00285e;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_whiteline:hover,
.btn-alpha_whiteline:focus,
.btn-alpha_whiteline.focus,
.btn-alpha_whiteline:active,
.btn-alpha_whiteline.active,
.open > .dropdown-toggle.btn-alpha_whiteline {
  color: #ffffff;
  background-color: #00285e;
  border-color: #00285e;
}
.btn-alpha_whiteline:active,
.btn-alpha_whiteline.active,
.open > .dropdown-toggle.btn-alpha_whiteline {
  background-image: none;
}
.btn-rad {
	border-radius:3px!important;	
}

.btn-alpha_green {
	color: #02a89e;
	background-color: #ffffff;
	border-color: #e2e2e2;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_green:hover,
.btn-alpha_green:focus,
.btn-alpha_green.focus,
.btn-alpha_green:active,
.btn-alpha_green.active,
.open > .dropdown-toggle.btn-alpha_green {
  color: #016861;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-alpha_green:active,
.btn-alpha_green.active,
.open > .dropdown-toggle.btn-alpha_green {
  background-image: none;
}

.btn-alpha_blue {
	color: #ffffff;
	background-color: #00285e;
	border-color: #00285e;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_blue:hover,
.btn-alpha_blue:focus,
.btn-alpha_blue.focus,
.btn-alpha_blue:active,
.btn-alpha_blue.active,
.open > .dropdown-toggle.btn-alpha_blue {
  color: #00285e;
  background-color: #ffffff;
  border-color: #00285e;
}
.btn-alpha_blue:active,
.btn-alpha_blue.active,
.open > .dropdown-toggle.btn-alpha_blue {
  background-image: none;
}
.termcon {
    padding: 0;
    margin: 0;
    margin-top: -2px;
}
.alert-alpha {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
/*   end button color   */
.sectionalpha {
	padding: 25px 0;
	position: relative;
}
.sectionslide {
	padding-top: 25px;
	position: relative;
}
.stepbystepalpha {
	padding:15px 0;
	margin: 0;
}
#who {
	background-image: url(../img/main_bg.png) ;
	background-color: #fbfafa;
	background-repeat: repeat;
	height: 155px;
	background-position: center;
	display: table;
	width: 100%;
}

.page-header {
	padding-bottom: 9px;
	margin: 20px 0 10px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.img-display {
	position: relative;
	overflow: hidden;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.img-about {
	width:100%	
}
.feature-image {
	height:250px;
	margin-top: 25px;
}
.modalpage{
	margin: 0;
	width: 100%;	
	height: 100%;
}
.modalpage .modal-content {
	box-shadow: none;
	border: none;
	border-radius:0;
}
.modal-header {
	border:none;
}

/* Header */
#header{
	margin-bottom: 0;
	padding: 0;
	z-index: 13;
}
#header .navbar-inverse .container{
	position: relative;
}

#header .navbar {
	background: transparent;
	border: 0;
	margin-bottom: 0;
	border-radius:0;
}

#header .navbar-toggle{
	margin-top: 20px;
}

#header .navbar-brand{
	padding: 0;
	margin-left: 0;
	margin-top:0;
}

#header .navbar-brand h1{
	padding: 0;
	margin: 0;
}

#header .navbar-nav.navbar-right >li:last-child{
/*margin-right: 20px;*/
}

#header .navbar-nav.navbar-right > li a {
	font-weight: 200;
	color: #00285e;
	font-size: 12px;
	line-height: 18px;
	padding: 10px 15px;
}

#header .navbar-inverse .navbar-nav  li.active > a,  
#header .navbar-inverse .navbar-nav  li.active > a:focus, 
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
	background-color: inherit;
	border: 0;
	border-radius: 2px;
	color: #88b5d6;
}

#header .navbar-inverse .navbar-nav  li a:hover{
	color: #fff;
	background-color: #003471;
}

/*Dropdown menu*/

ul.sub-menu {
display: none;
list-style: none;
padding: 0;
margin: 0;
}

#header .navbar-nav li ul.sub-menu li a {
color: #818285;
padding: 5px 0;
font-size: 13px;
display: block;
text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active{
background: #d9ebf9;
color: #00285e;
position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i{
position: absolute;
font-size: 56px;
top: -13px;
color: #00285e;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right{
left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left{
right: -3px;
}


#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus{
background: #d9ebf9;
color: #00285e;
}

/* language & search */
.langsearch {
	text-align:right;
	position: absolute;
	right: 0;
	width:250px;
	display:inline-block;
}
.langsearch .lang{
	width: 185px;
	float:left;
	padding-top: 10px;
}
.langsearch .searchs {
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
	float:right;
}
.langsearch .searchs:hover {
	cursor:pointer;
}
.langsearch .searchs i {
	margin: 0 auto;
	line-height: 14px;
	padding: 5px;
}
.langsearch .searchs .searchhere {
	width: 230px;
	max-width:0;
	padding: 5px;
	position:absolute;
	right:20px;
	box-sizing:border-box;
	opacity:0;
	margin: 0;
	height: 24px;
	padding: 3px 10px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	font-style: italic;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #00285e;
	outline: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: all .5s ease;
}
.langsearch .searchs .searchhere.expanded{
	max-width:230px;
	opacity:1;
}
.searchclk {
	width: 24px;
	height: 24px;
/*	background: #00285e; */
	position: absolute;
	right: 0;
}
.btn-lang {
	display: inline-block;
	padding: 3px 10px;
	margin-bottom: 0;
	font-size: 11px;
	font-weight: normal;
	text-transform:uppercase;
	color:#414141;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 0;

	background-color: rgba(0, 0, 0, 0);
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.btn-lang:hover {
	color:#ddd;
}
.btn-lang:active,
.btn-lang.active  {
	color:#807f7f;
}

.fa-angle-down{
	padding-left: 5px; 
}

.scaleIn {
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
0% {
opacity: 0;
-webkit-transform: scale(0);
transform: scale(0);
}

100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}
}

@keyframes scaleIn {
0% {
opacity: 0;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
}

100% {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
}
/* End Header */
/* ===== nav filter ===== */
.nav-tab-alpha {
border-bottom: 1px solid #00285e;
}
.nav-tab-alpha > li {
/*
float: left;
*/
margin-bottom: -1px;

}
.nav-tab-alpha > li > a {
white-space:nowrap;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 0;
color:#00285e;
background-color:transparent;

}
.nav-tab-alpha > li > a:hover {
border-color: #eee #eee #00285e;
bacground-color: transparent;
color:#00285e;
cursor:pointer;
}
.nav-tab-alpha > li.active > a,
.nav-tab-alpha > li.active > a:hover,
.nav-tab-alpha > li.active > a:focus {
color: #ffffff;
cursor: default;
background-color: #fd715f;
border: 1px solid #fd715f;
border-bottom-color: transparent;
cursor:pointer;
}

.nav-tab-alpha > li > span {
white-space:nowrap;
line-height: 1.42857143;
border-radius: 0;
color:#00285e;
background-color:transparent;
position: relative;
display: block;
padding: 10px;
text-align:center;

-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.nav-tab-alpha > li > span:hover {
background-color: #f2f2f2;
color:#88b5d6;
cursor:pointer;
}
/* End nav filter */

/* Back to Top */
.backtotop {
	bottom:53px!important;
}
.backtotop {
	position:fixed;
	bottom:13px;
	right:-90px;
	z-index:999;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.backtotop a {
	background:#f5f5f5;
	padding: 3px 10px;
	width:90px;
	float:left;
	font-weight: 500;
	overflow:hidden!important;
	color:#3a3e4a;
	font-size:13px;
}
.backtotop a:hover {
	text-decoration:none;
	color:#00285e;
}
.backtotop p {
	background:rgba(102, 102, 102, 0.15);
	padding: 3px 5px;
	float:left;
	margin:0;
}
.backtotop:hover {
	right:0;
}
.backtotop:hover .bttcaret {
	border-top: 8px solid transparent;
	border-right: 0 dotted;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #00285e;
}
/* End Back to Top */

/* Footer */
#footer {
	padding-bottom: 30px;
	position:relative;
/*	margin-bottom: 30px; */
}
.copyright-text{
	margin-top: 50px;
}

/* Affix Top */
.affix {
width: 100%;
-webkit-animation: fadeInDown 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
animation: fadeInDown 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
background-color:#ffffff;	
}
/* End Affix Top*/

.bordertext5,
.bordertext15,
.bordertext30{
	display: block;
	width: 100%;
	margin: 15px 0 20px 0;
}
.bordertext30 span{
	display: inline-block;
	border-top: 4px solid #3E5BA9;
	width: 30%;
}
.bordertext15 span{
	display: inline-block;
	border-top: 4px solid #3E5BA9;
	width: 15%;
}
.bordertext5 span{
	display: inline-block;
	border-top: 4px solid #3E5BA9;
	width: 5%;
}
/* home media */
.mediahomepage {
	text-align:left;
}
.newshomepage {

}
.newshomepage h4{
padding:10px 0!important;
margin:0 0 10px 0;
line-height:1;
}
.instasuu {
width:100%!important;
height:auto;	
}
.news_headline {

}
.newsscroll{
overflow-y:scroll;
overflow-x:hidden;
}
.news_list {
margin-bottom: 10px;
padding: 8px;
border-bottom: 1px solid #f4f4f4;
}
.news_list:hover {
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
background-color:#dddddd;	
}
.news_headline a.imgheadline {
display: block;
margin-bottom: 15px;
}
.news_list a.imgthumb {
width:90px;
display: block;
overflow:hidden;
float:left;
margin-right:10px;
}
.news_headline a img,
.news_list a img {
width: 100%;
height: auto;
cursor:pointer;
}
.news_list .post-meta span.labelmedia {

}
.news_headline h2.title,
.news_list h3.title{
margin-top: 2px;
margin-bottom: 4px;
font-size: 15px;
line-height: 17px;
height: 34px;
overflow: hidden;
text-transform:uppercase;
cursor:pointer;
}
.news_list .small,
.news_headline .small {
font-size: 70%;
font-weight: bold;
}
.news_list .small p,
.news_headline .small p {
margin-right:15px;
}
.news_headline h6 span.date,
.news_list h6 span.date {
margin-right:15px;
}
.articlecredits {
margin: 10px 0 15px;
font-size:11px;
text-align: center;
}
.articlecredits mark {
background: #F2F2F2;
color: #3A3E4A;
font-weight: bold;
}
.dropcap {
margin-top: 15px;
}
.dropcap p:first-child {
text-indent:0!important;
min-height: 38px;
}
.dropcap p:first-child:first-letter {
text-indent:0!important;
min-height: 55px;

float: left;
font-size: 460%;
line-height: 30px;
padding-bottom: 0;
padding-top: 10px;
}
.modal-body h1 {
font-size:24px;
}
.txt-news p{
text-indent:25px;
}
.modal-body .img-display img {
width:100%	;
}
/* corporate */
.visimisipoint {
padding:0;
}
.visimisipoint li{
background: url(../img/logoicon/bullet_square.gif) no-repeat 7px 6px;
margin-top: 3px;
margin-left: 5px;
margin-bottom: 0px;
padding-left: 25px;
list-style: none;
}
.enquiries form {
margin: 20px 0;
padding: 15px;
}
.enquiries h5 {
font-size: 11px;
margin-bottom: 5px;
color: #8a8c8f;
}

.glance-imageframe {
position: relative;
overflow: hidden;
text-align: center;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin:10px 0 20px 0;
padding:15px;
background-color:#f2f2f2;
}
.glance-image {
height: 325px;
}
.glance-caption {
position: absolute;
top: 20%;
width: 200px;
}
.glance-caption h1{
margin:0;
margin-bottom: -30px;
}
.glance-caption h4,
.glance-caption h2{
background-color: #f2f2f2;
line-height: 30px;
display: inline;
text-align:left;
}
.glance-text {
float: none;
margin: 0 auto;
/*	padding: 20px 30px; */
}
.glance-text p {
text-indent: 25px;
}
.glance-text p:first {
text-indent: 0!important;
}
/* ===== navmedia ===== */
.nav_tab-media {
border-bottom: 1px solid #fd715f;
}
.nav_tab-media > li {
margin-bottom: -1px;
}
.nav_tab-media > li > a {
white-space:nowrap;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 0;
color:#00285e;
background-color:transparent;
}
.nav_tab-media > li > a:hover {
border-color: #eee #eee #fd715f;
bacground-color: transparent;
color:#fd715f;
cursor:pointer;
}
.nav_tab-media > li.active > a,
.nav_tab-media > li.active > a:hover,
.nav_tab-media > li.active > a:focus {
color: #ffffff;
cursor: default;
background-color: #fd715f;
border: 1px solid #fd715f;
border-bottom-color: transparent;
cursor:pointer;
}
.nav_tab-media > li > span {
white-space:nowrap;
line-height: 1.42857143;
border-radius: 0;
color:#00285e;
background-color:transparent;
position: relative;
display: block;
padding: 10px;
text-align:center;

-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.nav_tab-media > li > span:hover {
background-color: #f2f2f2;
color:#3a3e4a;
cursor:pointer;
}
.thumbmedia {
padding:8px;
margin-bottom:15px;
background-color:#f5f5f5;
}
.thumbmedia .img {
height: 100px;
/*width: 100px;*/
overflow: hidden;
}
.thumbmedia .img img {
height: 100%;
max-width:none!important;
}
.thumbmedia .newslist-body a {
color:#32383d;
}
.thumbmedia .newslist-body a:hover {
cursor:pointer;
text-decoration:none;
color:#8a8c8f;
}
.thumbmedia h4{
line-height: 1.1;
min-height: 39px;
max-height: 39px;
overflow: hidden;
}
.labelmedia {
border-left:8px solid #e25e5b;
background-color: #FD715F;
font-size:11px;
padding:2px;
color:#ffffff;
margin-left: -7px;
margin-top:5px;
position:absolute;
text-transform:uppercase;
}
.modal-bodymedia {
padding: 15px 20px;
}
.modal-bodymedia h4 {
font-size:22px;
}
.modal-labelmedia {
border-left: 8px solid #e25e5b;
padding-left: 10px;
font-size: 12px;
}
.articlecredits {
margin: 10px 0 15px;
font-size:11px;
text-align: center;
}
.articlecredits mark {
background: #F2F2F2;
color: #3A3E4A;
font-weight: bold;
}
.dropcap {
margin-top: 15px;
}
.dropcap p:first-child {
text-indent:0!important;
min-height: 38px;
}
.dropcap p:first-child:first-letter {
text-indent:0!important;
min-height: 55px;

float: left;
font-size: 460%;
line-height: 30px;
padding-bottom: 0;
padding-top: 10px;
}
.modal-body p{
	text-indent:25px;
}
/* ===== End navmedia === */
/* End corporate */
.logoalpha {
	background:url(../img/logo/logo.png) no-repeat;
	background-size:cover;
	width:116px;
	height:65px;
	padding:0;
	margin:0;
}
.divider_header {
	background: url(../img/logo/bordernav.jpg) center repeat-x;
	padding-bottom: 7px;
	overflow: hidden;
	margin: 0 auto;
	border: none;
}
.divider_boder-blue {
	padding-bottom: 0;
	margin: 30px auto;
	border-top: 1px solid #00285e;
}
.divider_boder-green{
	padding-bottom: 0;
	margin: 30px auto;
	border-top: 1px solid #02a89e;
}
.divider_boder-red {
	padding-bottom: 0;
	margin: 30px auto;
	border-top: 1px solid #ff3334;
}
.divider_boder-grey{
	padding-bottom: 0;
	margin: 30px auto;
	border-top: 1px solid #dbe1e1;
}
.divider_boder-white{
	padding-bottom: 0;
	margin: 30px auto;
	border-top: 1px solid #f2f2f2;
}
.openingpage {
	padding: 40px 15px;
	text-align: center;
}
.openingpage > h1 {
	font-weight:700;
}
.bgtop-title {
	text-align: left;
	padding-left: 20px;
}
.bgtop-title > h3 {
	font-weight: bold;
	font-weight:700;
}

@media only screen and (max-width: 549px) {
	.bgtop {
		display: none;
	}	
}
/** end gmap coy **/

@media only screen and (min-width: 1200px) {
	.bannertxt h2{
		font-size: 28px;
	}
	.newsscroll{
		height:415px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.newsscroll{
		height:353px;
	}
}
@media (min-width: 992px) {
	.sectionalphaoo{
		padding:55px 0;  
	}
	.feature-image {
		width:100%;
		height:auto!important;
	}
	.stepbystepalpha {
		padding: 100px 0;
		margin: 0;
	}
	#header .navbar-nav.navbar-right >li a {
		font-size: 14px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#home-slider .slide-text {
		top: 20px;
		width: 60%;
	}
	.maintitle {
		font-size: 50px;
		line-height: 35px;
	}
	.celebrate-image {
		height: 190px;
	}
	.newsscroll{
		height:331px;
	}
	.bannertxt {
		width:33vw;
	}
	.bgtop {
		display: none;
	}
}
@media (max-width: 991px) {
	.feature-image {
		width:100%;
		height:auto!important;
	}
	.bgtop {
		display: none;
	}
}
@media (min-width: 550px) and (max-width: 767px) {
	.btn-startfind {
		width:70px;
		height:70px;
	}
	.logoalpha {
		background: url(../img/logo/logo_small.png) no-repeat;
		background-size:cover;
		width:150px;
		height:29px;
	}
	#header .navbar-brand {
		margin-top: 15px;
		margin-left:0;
	}
	.newsscroll{
		height:298px;
	}
	.bgtop {
		display: none;
	}
}
@media only screen and (max-width: 549px) {
	.bannertxt h2{
		font-size: 16px;
	}
	.btn-startfind {
		width:55px;
		height:55px;
	}
	.bannertop {
		background-position-x:40%;
		background-position-y:50%;
		background-size: cover;
	}
	#header .navbar-brand {
		margin-top:15px;
		margin-left:0;
	}
	.logoalpha {
		background:url(../img/logo/logo_small.png) no-repeat;
		background-size:cover;
		width:35px;
		height:35px;
	}
	.newsscroll{
		height:300px;
	}
	.position {
		width:20px;
		height:40px;
	}
	.digit {
		width: 18px;
	}
	.countDiv{
		height:32px;
	}
	.bgtop {
		display: none;
	}
}

@media only screen and (min-width : 768px) {
	.nav.navbar-nav > li:hover > ul.sub-menu{
		display: block;
		-webkit-animation: fadeInUp 400ms;
		animation: fadeInUp 400ms;
	}
	ul.sub-menu {
		position: absolute;
		top: 60px;
		left: 0;
		background: #fff;
		padding: 10px 0;
		width: 240px;
		box-shadow: none;
		display: none;
		z-index: 999;
		border: 1px solid #dab074;
	}
	#header .navbar-brand {
		margin-top:20px;
	}
	#header .navbar-nav li ul.sub-menu li a {
		padding-left: 20px;
	}
	.navalpha {
		margin-right: -25px;	
	}
	.affix-top .navalpha {
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.affix-top .navalpha>li>a {
		text-align:center;
	}
	.text-frame {
		width:350px;
	}
	.affix .navbar .navbar-collapse .navalpha {
		margin-top:10px;
	}
	.affix .navbar .navbar-collapse .navalpha>li {
		display: inline-block;
		width: auto;
	}
	.affix .navbar {
		min-height:50px;
	}
	.affix .logoalpha {
		background: url(../img/logo/logo.png) no-repeat;
		background-size: cover;
		width: 65px;
		height: 65px;
		padding: 0;
		margin: 0;
		margin-top:10px !important;
		margin-bottom:10px !important;
	}
	.divider_boder-green {
		margin:50px auto;	
	}
	.slideleft {
		padding-top: 15%;
	}
		.affix .langsearch {
		display:none!important;
		opacity:0;
	}
}
@media only screen and (max-width : 767px) {
	.padding{
	padding: 30px 0;
	}
	.social-icons.pull-right{
	float: left !important;
	}
	#header{
	/*
	background:url(../img/logoicon/bg_nav138s.jpg) repeat-x;
	*/
	}
	.navbar-collapse.in {
	background-color:#ffffff;
	}
	#header .navbar-inverse .navbar-toggle,
	#header .navbar-inverse .navbar-toggle:focus {
	border-color: #1f5aa5;
	margin-top: 15px;
	margin-right: 0;
	outline: none;
	background-color: #ffffff;
	}
	.navbar-header .navbar-toggle .icon-bar {
	background-color: #1f5aa5;
	}
	#header .navbar-inverse .navbar-toggle:hover {
	background: #1f5aa5;
	}
	#header .navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
	} 
	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form {
	border-top: 0;
	text-align: center;
	}
	.social-icons ul li:first-child{
	padding-left: 0;
	}
	#header .navbar-nav.navbar-right li > a > i {
		display: inline-block;
		float: right;
		padding: 8px 10px 8px 30px;
	}
	#header .navbar-nav.navbar-right li > a {
		padding: 10px 0;
	}
	#header .navbar-nav li ul.sub-menu li a {
		padding: 5px 10px;
	}
	#header .navbar-inverse .navbar-nav li.active > a, 
	#header .navbar-inverse .navbar-nav li.active > a:focus, 
	#header .navbar-nav.navbar-right li > a:hover {
		border: none;
	}
	.framesection {
		border-left-width:15px;
		border-right-width:15px;
	}
	.slideleft {
		left: 10%;
	}
	.langsearch {
		position: relative;
	}
	.callbacks_tabs a {
		padding: 1px 10px 0 10px;
		font-size: 2px;
	}
}
@media only screen and (max-height:768px) {
	.formbottom {
		margin-bottom:30px;
	}
	.footerlogin {
		position:relative;	
	}
}
@media (max-width:549px) and (max-height:1200px) {
	.footerlogin {
		position:relative;	
	}
	.form-signin {
	    padding: 0 !important;
	    background-color: rgba(58, 62, 74, 0.55);
	}
	h2 {
		font-size: 24px;
	}
}


/* 404 page CSS */

#error-page {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #686868;
  font-size: 18px;
  font-weight: 300;
  padding: 100px 0;
}

#error-page .container-fluid {
  overflow: hidden;
}

.error-page-inner {
  display: table-cell;
  vertical-align: middle;
}

.bg-404 {
  background-image: url("../img/home/tour-bg.png");
  background-repeat: repeat-x;
  background-position: center top;
}

.error-image {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.error-image img {
  width: 100%;
}

#error-page h2 {
  font-size:36px;
  text-transform: uppercase;
}

.btn-error {
  font-weight: 300;
  margin-top: 30px;
  padding:25px 55px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  background-color: transparent;
  border: 1px solid #cc9b59;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-error:hover, .btn-error:focus  {
  background-color: #cc9b59;
  border-color:#cc9b59;
  color:#fff;
}

#error-page i, #coming-soon i {
  border: 1px solid #cc9b59;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #cc9b59;
  font-size: 17px;
  margin:0 15px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#error-page i:hover, #coming-soon i:hover {
  background-color: #cc9b59;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* End 404 Not Found */

/*Shortcodes CSS*/
.bs-example{
  margin: 0 0 20px;
}

.panel-group{
  border: 1px solid #eee;
}
.panel-default{
  border: 0;
}
.panel-group .panel{
  border-radius: 0;
}
.panel-group .panel+.panel{
  margin-top: 0;
}

.panel-default>.panel-heading{
  background-color: transparent;
  border-top: 1px solid #eee;
}

.panel-group .panel-default:first-child>.panel-heading{
  border-top: 0;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  border-top-color: #eee;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color: #1d5aa5;
}

.tab-content {
  padding-top: 20px;
}

/*Features*/
.feature-inner{
  text-align: center;
}
.icon-wrapper{
  display: inline-block;
  background-color: #569fd6;
  color: #fff;
  padding: 25px;
  box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
  border-radius: 100%;
  margin: 10px 0;
}

/* Go To Top */
.body-back-to-top.align-right {
    right: 40px;
}
.body-back-to-top {
    font-size: 14px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
    background: #666;
    border: 0px solid #fff;
    border-radius: 3px;
}
.body-back-to-top a {
    color: #000000;
}
.body-back-to-top:hover {
    color: #fff;
	background: #000;
}

/* Bgheader */
.bg-login {
	background:url(../img/home/bkg_koleksi_digital.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.form-signin {
	padding:55px;
	background-color:rgba(58,62,74,0.55);	
}
.form-signin h3{
	font-weight:200;	
}
/* end Bgheader */

.top-search {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Slick Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}
/* End of Slick Slider */

/* Wrap text */
.caption > h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Search */
.dropdown-menu > li {
    padding: 3px 20px;
}

.dropdown-menu > li:hover, .dropdown-menu > li:focus {
	color: #fff;
    background-color: #003471 !important;
}

.header-result
{
    margin-bottom: 10px;
    height: 350px;
    background: url(../img/home/header_pencarian.png) no-repeat;
    max-width: 100%;
    max-height:100%;
    overflow:hidden;
    background-size: cover;
    margin: 0 auto;
    background-position: center right;
    -webkit-box-shadow: inset 0px -5px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset 0px -5px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow: inset 0px -5px 7px 0px rgba(50, 50, 50, 0.3);
}

.dashspace {
    border-top: 1px dashed #8a8c8f;
    margin: 15px 0;
}

#detail_koleksi {
	padding-right: 0px !important;
}

/* .modal-fullscreen */

.modal-fullscreen .modal-content {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
	background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
	opacity: .97;
	filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
@media (min-width: 768px) {
	.modal-fullscreen .modal-dialog {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.modal-fullscreen .modal-dialog {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.modal-fullscreen .modal-dialog {
		width: 1170px;
	}
}

